/* UpdatedMedicineList.css */

.medicine-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow flex items to wrap */
}

.search-bar {
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-basis: 100%; /* Take full width */
}

.search-input {
  width: 200px; /* Adjust the width as needed */
  height: 50px; /* Larger height */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.plus-sign {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px; /* Add margin to adjust spacing */
}



/* Other existing styles... */


.plus-sign {
  color: #28a745;
  /* Dark green color */
  cursor: pointer;
  transition: color 0.3s ease;
  /* Smooth color transition on hover */
}

.plus-sign:hover {
  color: #218838;
  /* Darker shade on hover */
}
/* Action Buttons Styles */
.action-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.delete-button,
.update-button {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth background color transition on hover */
}

.delete-button {
  background-color: #dc3545; /* Red color for delete button */
  color: white;
  margin-right: 10px;
}


.update-button {
  background-color: #22aba8; /* Blue color for update button */
  color: white;
}

.delete-button:hover
 {
  background-color: #c31313; /* Darker shade on hover */
}
.update-button:hover{
  background-color: #1a917b;

}


/* Table Styles */
.medicine-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add box shadow for depth */
}

.medicine-table th,
.medicine-table td {
  padding: 12px;
  /* Adjusted padding */
  text-align: left;
}

.medicine-table th {
  background-color: #4CAF50;
  /* Blue color */
  color: white;
  font-weight: bold;
}

.medicine-table tr:nth-child(even) {
  background-color: #f8f9fa;
  /* Light gray alternate row color */
}

.medicine-table tr:hover {
  background-color: #e2e6ea;
  /* Lighter hover color */
}

/* Container Styles */
.medicine-list-container {
  max-width: 800px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center align the container */
  padding: 20px;
  /* Add padding for spacing */
}
/* UpdatedMedicineList.css */

/* Add this CSS for the loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Adjust height as needed */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4CAF50;
  /* Green color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  color: red;
}